body {
  margin: 0 auto;
  height: 100%;
  font-family: "Red Hat Display", sans-serif;
}

.head-meet {
  margin: 55px 0px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-meet img {
  margin: auto;
}

.header {
  justify-content: center;
  display: flex;
  overflow: hidden;
  /* grid-template-columns: repeat(3, 1fr); */
}

.left-bubbles {
  display: grid;
  /* grid-gap: 20px; */
  max-width: 40rem;
  grid-column: 1;
  width: 100%;
  position: relative;
  left: -20px;
}

.bubble-one {
  background-image: url("../images/1.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1;
  margin-top: 50px;
}

.bubble-two {
  background-image: url("../images/2.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 2;
  margin-top: 50px;
}

.bubble-three {
  background-image: url("../images/3.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  grid-column: 2;
  grid-row: 1;
}

.bubble-four {
  background-image: url("../images/4.jpeg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  grid-column: 2;
  grid-row: 2;
}

.bubble-five {
  background-image: url("../images/5.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  grid-column: 3;
  grid-row: 1;
  margin-top: 50px;
}

.bubble-six {
  margin-top: 50px;
  background-image: url("../images/6.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  grid-column: 3;
  grid-row: 2;
}

.head-content {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  grid-column: 2;
  width: 100%;
  overflow: hidden;
}

.contentb {
  font-size: 64px;
  font-weight: bold;
  line-height: 64px;
  margin: 0px 117px 35px;
}

.contentg {
  font-size: 18px;
  line-height: 26px;
  padding: 16px 110px 25px 110px;
  color: #87879d;
}

.right-bubbles {
  display: grid;
  grid-gap: 20px;
  max-width: 40rem;
  margin-top: 50px;
  grid-column: 3;
  width: 100%;
  /* padding-left: 30px; */
  position: relative;
  right: -90px;
}

.bubble-seven {
  background-image: url("../images/7.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1;
}

.bubble-eight {
  background-image: url("../images/8.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 2;
}

.bubble-nine {
  margin-top: 50px;
  background-image: url("../images/9.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  grid-column: 2;
  grid-row: 1;
}

.bubble-ten {
  margin-top: 50px;
  background-image: url("../images/10.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  grid-column: 2;
  grid-row: 2;
}

.bubble-eleven {
  background-image: url("../images/11.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  grid-column: 3;
  grid-row: 1;
}

.bubble-twelve {
  background-image: url("../images/12.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  grid-column: 3;
  grid-row: 2;
}

.first-button-h {
  font-weight: bolder;
  border: none;
  border-radius: 70px;
  padding: 17px 35px;
  color: #fafafa;
  background-color: #4d96a9;
  margin-right: 15px;
}

.first-button-h:hover {
  font-weight: bolder;
  border: none;
  border-radius: 70px;
  padding: 17px 35px;
  color: #fafafa;
  background-color: #71c0d4;
  margin-right: 15px;
}

.second-button-h:hover {
  font-weight: bolder;
  border: none;
  border-radius: 70px;
  padding: 17px 35px;
  color: #fafafa;
  background-color: #d9b8ff;
}

.first-button-h span {
  color: #8fe3f9;
}

.second-button-h {
  font-weight: bolder;
  border: none;
  border-radius: 70px;
  padding: 17px 35px;
  color: #fafafa;
  background-color: #855fb1;
}

.page-part {
  margin-top: 140px;
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.part-left {
  height: 100%;
  border: -0.75px solid #87879d;
}

.part-right {
  height: 100%;
  border-left: 0.25px solid #87879d;
}

.number-page-one {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid #87879d;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #87879d;
}

.number-page-two {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid #87879d;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #87879d;
  margin-bottom: -55px;
  background-color: white;
  z-index: 1;
}

.nmb-position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lower-pic-part {
  justify-content: center;
  display: flex;
  margin: 45px 0px;
}

.lower-pic-o img {
  border-radius: 8px;
  width: 100%;
}

.lower-text {
  width: 37%;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.lower-text-blue {
  color: #4d96a9;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
}

.lower-text-black {
  color: #28283d;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  justify-content: center;
  padding-bottom: 15px;
}

.lower-text-gray {
  color: #87879d;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  justify-content: center;
}

.footer {
  margin-top: 25px;
  background-image: url("../starter-code/assets/desktop/image-footer.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.blue-footer {
  background-color: #4d96a9;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.lower-pic-o {
  margin: 15px;
  width: 300px;
}

.text-one-footer {
  color: #fafafa;
  font-size: 44px;
  width: 20%;
  padding: 70px;
}

.text-two-footer {
  width: 17.6%;
  color: #fafafa;
  font-size: 18px;
}

@media (max-width: 1100px) {
  .lower-pic-part {
    flex-wrap: wrap;
  }
  .lower-pic-o {
    /* width: calc(50% - 30px); */
    width: 150px;
  }

  .left-bubbles {
    order: 1;
  }

  .right-bubbles {
    order: 2;
  }

  .head-content {
    order: 3;
  }

  .header {
    flex-wrap: wrap;
    overflow: hidden;
  }

  .lower-text {
    width: 55%;
  }

  .head-content {
    margin-top: 25px;
  }

  .blue-footer {
    flex-direction: column;
  }

  .text-one-footer {
    padding: 40px 0px 10px;
    width: 35%;
    text-align: center;
  }

  .text-two-footer {
    padding: 40px 0px 40px;
    text-align: center;
    width: 55%;
  }

  .second-button-h {
    margin-bottom: 40px;
  }

  .second-button-h:hover {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .header {
    overflow: hidden;
  }

  .bubble-one {
    width: 60px;
    height: 60px;
  }
  .bubble-two {
    width: 60px;
    height: 60px;
  }
  .bubble-three {
    width: 60px;
    height: 60px;
  }
  .bubble-four {
    width: 60px;
    height: 60px;
  }
  .bubble-five {
    width: 60px;
    height: 60px;
  }
  .bubble-six {
    width: 60px;
    height: 60px;
  }
  .bubble-seven {
    width: 60px;
    height: 60px;
  }
  .bubble-eight {
    width: 60px;
    height: 60px;
  }
  .bubble-nine {
    width: 60px;
    height: 60px;
  }
  .bubble-ten {
    width: 60px;
    height: 60px;
  }
  .bubble-eleven {
    width: 60px;
    height: 60px;
  }
  .bubble-twelve {
    width: 60px;
    height: 60px;
  }
  .left-bubbles {
    grid-gap: 0px;
  }
  .right-bubbles {
    display: grid;
    /* grid-gap: 20px; */
    max-width: 40rem;
    margin-top: 0px;
    grid-column: 3;
    padding-left: 30px;
    padding-left: 0px;
    grid-gap: 0px;
  }

  .content-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
  }

  .first-button-h {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .first-button-h:hover {
    margin-right: 0px;
  }

  .second-button-h {
    margin-bottom: 0px;
  }

  .second-button-h:hover {
    margin-bottom: 0px;
  }

  .lower-text {
    width: 90%;
  }

  .blue-footer {
    flex-direction: column;
  }

  .text-one-footer {
    padding: 40px 0px 0px;
    width: 90%;
    text-align: center;
  }

  .text-two-footer {
    padding: 40px 0px 40px;
    text-align: center;
    width: 90%;
  }

  .second-button-h {
    margin-bottom: 40px;
  }

  .second-button-h:hover {
    margin-bottom: 40px;
  }
}
